.product-controls {
  padding: 3rem 0;
}

.product-controls-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

@media (max-width: 758px) {
  .product-controls {
    padding: 2rem 0;
  }

  .product-controls-wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}
