.product-controls {
  padding: 3rem 0;
}

.product-controls-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 728px) {
  .product-controls {
    padding: 2rem 0;
  }

  .product-controls-wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}
