.header {
  display: flex;
  gap: 0.25rem;
  margin-bottom: 1rem;

  .title {
    margin: 0;
    width: 128px;
    line-height: 1.25;
    color: var(--color-error);
  }
}

.logo {
  font-size: 24px;
  padding: 0.5rem;
  padding-left: 0;
  height: 40px;
  color: #5875da;
}

.text {
  color: var(--color-footer-faded-text);
}
