.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.title {
  width: 100%;
  color: var(--color-footer-faded-text);
}

.content {
  display: flex;
  gap: 1rem;
  font-size: 1.25rem;

  a {
    color: var(--color-link-footer);

    &:hover {
      color: var(--color-link-footer-hover);
    }
  }
}
