.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

h5.title {
  color: var(--color-error);
  margin: 0;
}

.content {
  display: flex;
  gap: 1rem;
  font-size: 1rem;
  
  a {
    color: var(--color-link-footer);

    &:hover {
      color: var(--color-link-footer-hover);
    }
  }
}