.login-form {
  margin: 0 auto;
  width: fit-content;
  border-bottom: 1px solid #111;
  border-top: 1px solid #111;

  .button-wrapper {
    button {
      background-color: #111;
    }

    button::after {
      background: #cd4c1d;
    }
  }

  .button-wrapper.button-wrapper {
    button:hover {
      background-color: #111;
    }
  }

  .login-form-link {
    color: #cd4c1d;

    &:hover {
      color: #9f2d11;
    }
  }
}
