.login-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 100%;
  width: fit-content;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

button {
  margin-top: 16px;
}
