.product-list {
  padding: 3rem 0;
  width: 100%;
}

.product-list ul[class~='ant-list-items'] {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.product-list li[class~='ant-list-item'] {
  flex: 1 1 320px;
  max-width: 460px;
}

@media (max-width: 690px) {
  .product-list li[class~='ant-list-item'] {
    max-width: 358px;
  }
}
