.product-list {
  padding: 3rem 0;
  width: 100%;
}

.product-list ul[class~='ant-list-items'] {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 394px));
  justify-items: center;
  justify-content: center;
  gap: 1rem; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.product-list li[class~='ant-list-item'] {
  flex: 1 1 390px;
  max-width: 420px;
  width: 100%;
}
