.best-bikes {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.best-bikes-title {
  text-transform: uppercase;
  text-align: center;
}

.product-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  list-style: none;
  padding: 0;
}

.product-list-item {
  flex: 1 1 calc((100% - 3 * 32px) / 4);
}

@media (max-width: 1040px) {
  .product-list-item {
    flex: 1 1 calc((100% - 32px) / 2);
  }
}

@media (max-width: 480px) {
  .product-list-item {
    flex: 1 1 100%;
  }
}
