.best-bikes {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.best-bikes-title {
  text-transform: uppercase;
  text-align: center;
}

.product-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  justify-items: center;
  gap: 2rem;
  list-style: none;
  padding: 0;
}
