.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  & img {
    transition: transform 0.3s ease;
  }

  &:hover img {
    transform: scale(1.1);
  }
}

.product-card-link {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

.product-card div[class~='ant-card-body'] {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
}

.product-image {
  object-fit: cover;
}

.skeleton-image {
  width: 100% !important;
  height: 200px !important;
}

.product-title {
  flex: 1;
}

.card-body-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.product-price {
  font-size: 1.25rem;
}

.discounted-price {
  color: var(--color-error);
  margin-left: 1rem;
}

.original-price {
  color: var(--color-text);
}

.line-through {
  text-decoration: line-through;
}

.rate-wrapper {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-top: 19px;
  width: 100%;
}

.rate {
  flex-shrink: 0;
}

.rate-line {
  width: 100%;
  height: 1px;
  background-color: var(--color-text);
}

.product-card-notification-container {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.product-card-notification {
  width: 200px;
  margin-bottom: 8px;
}

.size-block {
  span {
    width: 100%;
    display: inline-block;
  }
}

.size-radio-wrapper {
  margin-bottom: 0.5rem;
}
