.steps {
  max-width: 600px;
  margin: 1rem auto;
  padding-left: 1rem;
}

.step {
  margin: 0 auto;
  width: 7rem;
}

.registration-form {
  margin: 0 auto;
  max-width: 500px;
  padding: 1.5rem 0.5rem;
}

.finish-form {
  margin: 3rem auto;
  text-align: center;
}
