:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color-background: #fff;
  --color-bg-container-disabled: #d3d3d3;
  --color-primary: #2644ad;
  --color-button-background: #111;
  --color-button-text: #fff;
  --color-button-hover-text: #fff;
  --color-button-active-text: #9bace9;
  --color-button-disabled-text: #a9a9a9;
  --color-link: #2644ad;
  --color-link-hover: #5875da;
  --color-menu-item-text: #111;
  --color-menu-item-hover: #2644ad;
  --color-menu-item-selected: #2644ad;
  --shadow: 0.5rem #0003;
}

@font-face {
  font-family: 'Haas';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/NeueHaasUnica-Regular.woff2');
}

@font-face {
  font-family: 'Haas';
  font-style: normal;
  font-weight: bold;
  src: url('../assets/fonts/NeueHaasUnica-Bold.woff2');
}

@font-face {
  font-family: 'Futura';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/FuturaPT-Medium.woff2');
}

@font-face {
  font-family: 'Futura';
  font-style: normal;
  font-weight: bold;
  src: url('../assets/fonts/FuturaPT-Bold.woff2');
}

#root {
  margin: 0 auto;
  height: 100dvh;
}

.app {
  height: 100%;
}

h1.ant-typography {
  font-family: 'Futura';
}

h2.ant-typography {
  font-family: 'Futura';
}

h3.ant-typography {
  font-family: 'Futura';
}

h4.ant-typography {
  font-family: 'Futura';
}

h5.ant-typography {
  font-family: 'Futura';
}

.ant-layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.ant-layout-footer {
  padding: 16px;
  background: #333;
}

.container {
  margin: 0 auto;
  padding: 0 16px;
  max-width: 1440px;
}

.ant-spin {
  max-height: 100% !important;
}

.wrapper-404 {
  display: grid;
  grid-template-rows: auto 1fr 3rem;
  align-items: center;
  min-height: 41rem;
  padding-top: 8rem;
}

.ant-menu .ant-menu-item .anticon + span {
  margin-inline-start: 0.5rem;
}

.layout-container {
  display: flex;
  flex-grow: 1;
  align-items: center;
  margin: 0 auto;
  max-width: 1440px;
}

.no-scroll {
  overflow: hidden;
}

.ant-spin-nested-loading {
  width: 100%;
}
