:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color-footer-text: #ddd;
  --color-footer-faded-text: #b0b0b0;
  --color-footer-background: #000;
  --color-link-footer-hover: #5875da;
  --color-link-footer: #9bace9;
  --background-color-delay: background-color 0.8s;
  --background-delay: background 0.8s;
  --color-delay: background-color 0.8s;
  --scrollbar-color-delay: scrollbar-color 0.8s;
}

html {
  --scrollbar-width: thin;
  --scrollbar-width-legacy: 0.5rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

@supports (scrollbar-width: auto) {
  html {
    scrollbar-color: var(--color-primary) var(--color-background);
    scrollbar-width: var(--scrollbar-width);
    transition: var(--scrollbar-color-delay);
  }
}

@supports selector(::-webkit-scrollbar) {
  html::-webkit-scrollbar-thumb {
    background: var(--color-primary);
  }
  html::-webkit-scrollbar-track {
    background: var(--color-background);
  }

  html::-webkit-scrollbar {
    max-width: var(--scrollbar-width-legacy);
    max-height: var(--scrollbar-width-legacy);
  }
}

html {
  scroll-behavior: smooth;
  overscroll-behavior: contain;
}

body {
  overflow: unset !important;
}

:root[data-theme='light'] {
  --color-background: #fff;
  --color-background-secondary: #ebebeb;
  --color-promo-background: #fff;
  --color-header-background: #fff;
  --color-menu-background: #fff;
  --color-button-text: #fff;
  --color-button-hover-text: #fff;
  --color-gallery-background: #fff;
  --bullet-color: #fff;
  --color-text: #111;
  --color-button-background: #111;
  --color-menu-item-text: #111;
  --color-primary: #2644ad;
  --color-link: #2644ad;
  --color-menu-item-hover: #2644ad;
  --color-menu-item-selected: #2644ad;
  --color-link-hover: #5875da;
  --color-button-active-text: #9bace9;
  --color-button-disabled-text: #a9a9a9;
  --color-bg-container-disabled: #d3d3d3;
  --color-error: #ad4426;
  --shadow: 0.25rem rgba(0, 0, 0, 0.25);
  --color-border: #949494;
  --reverse-filter: none;
  --color-top-footer-separator: linear-gradient(to top, #ccc, #fff);
  --separator-opacity: 0;
  --color-discount: #333;
  --first-discount-shadow: -3px 3px 8px rgba(48,48,48,0.25);
  --second-discount-shadow: 3px -3px 8px rgba(96,96,96,0.5);
  --color-ticker-text: rgba(255, 255, 255, 0.2);
  --color-copyable: rgba(46, 82, 208, 0.4);
}

:root[data-theme='dark'] {
  --color-background: #202020;
  --color-background-secondary: #000;
  --color-carousel-text: #fff;
  --color-promo-background: #ddd;
  --color-header-background: #000;
  --color-menu-background: #000;
  --color-button-text: #000;
  --color-button-hover-text: #000;
  --color-gallery-background: #000;
  --color-button-background: #ddd;
  --color-text: #ddd;
  --color-menu-item-text: #ddd;
  --bullet-color: #ddd;
  --color-bg-container-disabled: #4c4c4c;
  --color-primary: #5875da;
  --color-menu-item-selected: #5875da;
  --color-menu-item-hover: #5875da;
  --color-link: #5875da;
  --color-link-hover: #2644ad;
  --color-button-active-text: #9bace9;
  --color-button-disabled-text: #a9a9a9;
  --color-error: #ad4426;
  --shadow: 0.5rem #0003;
  --color-border: #6c6c6c;
  --reverse-filter: invert();
  --color-carousel-text: #000;
  --color-top-footer-separator: linear-gradient(to top, #ccc, #202020);
  --separator-opacity: 1;
  --color-discount: #bbb;
  --first-discount-shadow: -2px 2px 6px rgba(96,96,96,0.4);
  --second-discount-shadow: 2px -2px 6px rgba(48,48,48,0.2);
  --color-ticker-text: rgba(16, 16, 16, 0.2);
  --color-copyable: rgba(32, 57, 144, 0.4);
}

input:-webkit-autofill {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: var(--color-text) !important;
}

.ant-input-affix-wrapper {
  transition: var(--background-color-delay);
}

@font-face {
  font-family: 'Haas';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/NeueHaasUnica-Regular.woff2');
}

@font-face {
  font-family: 'Haas';
  font-style: normal;
  font-weight: bold;
  src: url('../assets/fonts/NeueHaasUnica-Bold.woff2');
}

@font-face {
  font-family: 'Futura';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/FuturaPT-Medium.woff2');
}

@font-face {
  font-family: 'Futura';
  font-style: normal;
  font-weight: bold;
  src: url('../assets/fonts/FuturaPT-Bold.woff2');
}

.app {
  height: 100%;
}

h1.ant-typography,
h2.ant-typography,
h3.ant-typography,
h4.ant-typography,
h5.ant-typography {
  font-family: 'Futura';
}

.no-scroll {
  overflow: hidden;
}

/* Layout */
.container {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 1440px;
}

.container-inner {
  height: 100%;
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100lvh - 176px);
  height: 100%;
  width: 100%;
}

/* .ant-layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  transition: var(--background-color-delay);
} */

/* .ant-layout-content {
  margin-top: 3rem;
  grid-row-start: 2;
  grid-row-end: 3;
} */

/* Button */
.ant-btn {
  letter-spacing: 0.8px;
  display: block;

  > span {
    position: relative;
    z-index: 1;
    line-height: 1.9;
  }
}

/* Spin */

.ant-spin-nested-loading {
  width: 100%;
}

.ant-spin.ant-spin-lg.ant-spin-spinning {
  max-height: 100dvh;
}

/* TODO: check if we can delete below styles from the general style sheet */
.ant-menu .ant-menu-item .anticon + span {
  margin-inline-start: 0.5rem;
}

.ant-rate {
  color: var(--color-text);
  font-size: 1rem;
}

.ant-typography ul {
  list-style-type: disc;
}

.ant-carousel .slick-dots li button,
.ant-carousel .slick-dots li.slick-active button {
  background-color: var(--bullet-color);
}

.ant-image-preview-img {
  background-color: var(--color-gallery-background);
}

.ant-image-preview-footer {
  color: var(--color-text);
}

.ant-collapse>.ant-collapse-item >.ant-collapse-header {
  align-items: center;
  
  .ant-collapse-expand-icon {
    padding-inline-end: 0.5rem;
  }
}

.ant-collapse-expand-icon {
  height: 100%;
}

.ant-descriptions-item-content {
  font-weight: 400;
}

.ant-card-meta-detail .ant-card-meta-title {
  white-space: normal;
}

.ant-slider .ant-slider-track {
  background-color: var(--color-primary);
}

.ant-slider .ant-slider-track {
  background-color: var(--color-primary);
}

.ant-slider:hover .ant-slider-track {
  background-color: var(--color-link);
}

button {
  text-transform: uppercase;
}

.ant-image-preview-footer {
  color: var(--color-link);
}

.ant-card .ant-card-body {
  padding: 1rem;
}

.ant-tabs-nav-wrap .ant-tabs-nav-list .ant-tabs-tab {
  padding: 0.5rem;
  padding-left: 0;
}

.ant-tabs.ant-tabs-left .ant-tabs-nav {
  margin-top: 110px;
  position: fixed;
  z-index: 1;
}

.ant-tabs-left > .ant-tabs-content-holder .ant-tabs-tabpane.ant-tabs-tabpane-active {
  padding-left: 0;
}

.ant-tabs-left > .ant-tabs-content-holder {
  border: none;
}

.ant-ribbon-wrapper {
  width: fit-content;
}

