:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color-primary: #2644ad; /* 112d9f */
  --color-primary-hover: #111;
  --colorLink: #2644ad; /* 112d9f */
}

@font-face {
  font-family: 'Haas';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/NeueHaasUnica-Regular.woff2');
}

@font-face {
  font-family: 'Haas';
  font-style: normal;
  font-weight: bold;
  src: url('../assets/fonts/NeueHaasUnica-Bold.woff2');
}

@font-face {
  font-family: 'Futura';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/FuturaPT-Medium.woff2');
}

@font-face {
  font-family: 'Futura';
  font-style: normal;
  font-weight: bold;
  src: url('../assets/fonts/FuturaPT-Bold.woff2');
}

#root {
  max-width: 80rem;
  margin: 0 auto;
  height: 100dvh;
}

.app {
  height: 100%;
}

h3.ant-typography {
  font-family: 'Futura';
}

.ant-btn-primary {
  letter-spacing: 0.8px;
  display: block;

  > span {
    position: relative;
    z-index: 1;
  }
}

.ant-btn-primary::after {
  content: '';
  display: block;
  position: absolute;
  height: 115%;
  width: 120%;
  transform: skew(-15deg);
  background: var(--color-primary-hover);
  left: -125%;
  bottom: -2px;
  transition: left 0.4s;
}

.ant-btn-primary {
  overflow: hidden;
  border: none;
}

.ant-btn.ant-btn.ant-btn.ant-btn-primary:hover {
  background: var(--color-primary);
}

.ant-btn-primary:hover::after {
  left: -10%;
}

.ant-btn-primary.ant-btn-primary:disabled {
  background-color: #666;
  color: rgba(28, 50, 73, 0.75);
}

.ant-btn.ant-btn.ant-btn.ant-btn-primary:hover:disabled {
  background-color: #666;
}

.ant-btn-primary:hover:disabled::after {
  left: -125%;
}

.ant-spin.ant-spin.ant-spin {
  max-height: 100%;
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr 3rem;
  align-items: center;
  padding: 0 2rem;
  min-height: 100%;
}
