.login-form {
  margin: 0 auto;
  width: fit-content;
  border-bottom: 1px solid var(--color-primary-hover);
  border-top: 1px solid var(--color-primary-hover);

  .button-wrapper {
    button {
      background-color: var(--color-primary-hover);
    }

    button::after {
      background: var(--color-primary);
    }
  }

  .button-wrapper.button-wrapper {
    button:hover {
      background-color: var(--color-primary-hover);
    }
  }
}
