.filters-block-wrapper aside[class~='ant-layout-sider'] {
  transition: left 0.5s ease-in-out;
  z-index: 2;
  max-width: none !important;
  width: 30% !important;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hidden {
  display: none;
}

.filters-content {
  overflow: auto;
  scrollbar-width: var(--scrollbar-width);
}

.close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  z-index: 3;
}

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.5rem;
  color: var(--color-menu-item-text);

  .menu-title {
    margin: 0;
    font-size: 1.5rem;
  }
}

.filter-collapse {
  align-items: center;
}

.filter-panel {
  border: none;
}

.filter-group {
  display: flex;
  flex-direction: column;
}

.filter-item {
  padding: 0.5rem 1rem;
}

.buttons-wrapper {
  display: flex;
  gap: 1.25rem;
  margin-top: 1rem;
  margin-left: 1.25rem;
  padding-bottom: 4rem;
}

.price-slider-wrapper aside[class~='ant-layout-sider'] {
}

.price-slider {
  margin-left: 10px;
  margin-right: 7px;
}

.price-range {
  text-align: center;
  margin-bottom: 0.5rem;
  color: var(--color-menu-item-text);
}

@media (max-width: 1399px) {
  .filters-block-wrapper aside[class~='ant-layout-sider'] {
    width: 50% !important;
  }
}

@media (max-width: 899px) {
  .filters-block-wrapper aside[class~='ant-layout-sider'] {
    width: 70% !important;
  }
}

@media (max-width: 569px) {
  .filters-block-wrapper aside[class~='ant-layout-sider'] {
    width: 100% !important;
  }
}

.filter-collapse {
  span {
    line-height: 1.6;
  }
}
