.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: min(calc(100vw - 3rem), 1392px);
}

.product-container {
  margin-top: 2rem;
  display: flex;
  flex-shrink: 1;
  gap: 2rem;
}

.info-block {
  width: 35%;
  flex-basis: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h2 {
    text-transform: uppercase;
  }
}

.image-block {
  justify-content: center;
  min-width: 0;
  flex-basis: 65%;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: var(--color-gallery-background);
  transition: var(--background-color-delay);
  user-select: none;
}

.ellipsis {
  max-width: 100%;
}

.heading-block {
  h2 {
    text-transform: uppercase;
  }
}

.price-block {
  span {
    margin-right: 1.5rem;
    font-size: 1.5rem;
  }

  .old-price {
    text-decoration: line-through;
  }

  .discounted-price {
    color: var(--color-error);
  }
}

.cart-button {
  width: 126px;
}

.rate-block {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
}

.cart-block {
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
}

.size-block {
  span {
    width: 2.7rem;
    display: inline-block;
    text-align: center;
  }
}

.product-details-container {
  max-width: 1280px;
  margin: 0 auto;
}

.overview-block {
  display: flex;
  gap: 2rem;

  div {
    flex-basis: 50%;
  }
}

.warranty-block {
  display: flex;
  gap: 1rem;
  div {
    flex-basis: content;
  }
}

.logo {
  padding: 1rem;
  background-color: var(--color-background-secondary);
  width: fit-content;
  height: fit-content;
  font-size: 2rem;
  line-height: 1;
}

@media (max-width: 728px) {
  .info-block {
    width: auto;
    margin-top: 2%;
  }

  .product-container {
    flex-direction: column;
    gap: 0;
  }

  .header-block {
    padding-top: 0;
  }

  .overview-block {
    flex-direction: column;
    gap: 1rem;
  }

  .cart-button {
    flex: 1;
  }

  .cart-block {
    position: fixed;
    bottom: 1rem;
    z-index: 2;
    width: calc(100% - 5rem);
  }
}
