.registrationForm {
  background-color: rgb(255, 255, 255);
  margin: 0px auto;
  max-width: 600px;
  padding: 10px 0px;
  border-radius: 10px;
  box-sizing: border-box;
}

h1 {
  margin: 15px;
  color: black;
  font-size: 25px;
}

.registrationForm input {
  max-width: 100px;
}
