.steps {
  max-width: 600px;
  margin: 1rem auto;
}

.registration-form {
  margin: 2rem auto;
  max-width: 500px;
  padding: 1.5rem 0.5rem;
}

.finish-form {
  max-width: 400px;
  margin: 7rem auto;
  text-align: center;
}

.button-wrapper {
  button {
    background-color: var(--color-primary-hover);
  }

  button::after {
    background: var(--color-primary);
  }
}

.button-wrapper.button-wrapper.button-wrapper {
  button:hover {
    background-color: var(--color-primary-hover);
  }
}
