.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.link-wrapper {
  display: flex;
  gap: 10px;
}

.header-link span[class~='anticon'] {
  margin-right: 3px;
}
