.profile-form {
  margin: 0 auto;
  padding-bottom: 1.5rem;
  max-width: 320px;
  width: 100%;
}

.tabs {
  padding: 1rem 1rem 0rem;
}

.address-card {
  margin: 2rem 0rem;
  max-width: 330px;
}

.modal-form {
  max-width: 320px;
  width: 100%;
}
