.profile-form {
  /* margin: 0 128px; */
  margin-left: 128px;
  padding-bottom: 1.5rem;
  max-width: 320px;
  /* width: 100%; */
}

.tabs {
  padding: 1rem 1rem 0rem;
  /* max-width: 450px; */
  max-width: 900px;
  width: 100%;
}

.modal-form {
  margin: 0 auto !important;
  max-width: 350px !important;
  width: 100%;
  top: calc((100vh - 540px) / 2);
}

.address-form-styles {
  /* max-width: 360px; */
  max-width: 728px;
  margin: 0 auto;
  margin-left: 128px;
  display: flex;
  /* justify-content: center; */
  /* flex-direction: column; */
  flex-wrap: wrap;
  gap: 1rem;

  h4 {
    width: 100%;
    /* text-align: center; */
  }
}

.badge-style {
  background-color: var(--color-primary);
}

@media (max-width: 500px) {
  /* .tabs {
    max-width: 370px;
  } */

  .address-form-styles {
    padding: 0rem 0.5rem;
  }
}

.spin {
  width: 212px;
}
