.profile-form {
  margin: 0 auto;
  padding: 0 1rem 1.5rem;
  width: 350px;
}

.tabs {
  background-color: var(--color-background);
  position: fixed;
  z-index: 10;
  margin: 0 auto;
  cursor: pointer;
  padding: 1.5rem 1rem 0.5rem;
  max-width: 550px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.active {
  border-bottom: 2px solid var(--color-menu-item-selected);
  color: var(--color-menu-item-selected);
}

.modal-form {
  margin: 0 auto !important;
  max-width: 350px !important;
  width: 100%;
  top: calc((100vh - 540px) / 2);
}

.address-form-styles {
  padding: 0 1rem;
  max-width: 500px;
  width: 100%;
  margin: 4rem auto 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  h4 {
    width: 100%;
  }
}

.badge-style {
  background-color: var(--color-primary);
}

.tabs div:hover {
  border-bottom: 2px solid var(--color-menu-item-selected);
  color: var(--color-menu-item-selected);
}

.add-new-btn {
  width: 213px;
  height: 230px;
  background-color: var(--color-menu-item-selected);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: var(--color-footer-text);
  cursor: pointer;
}

@media (max-width: 500px) {
  .tabs {
    font-size: 15px;
  }

  .address-form-styles {
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    h4 {
      width: 213px;
    }
  }
  .add-new-btn {
    height: 50px;
  }
}
