.footer-copyright {
  color: #fff;
  font-size: 1.5rem;
}

.footer-copyright-text {
  margin: 0;
}

.footer-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
