.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.footer-copyright {
  color: var(--light-theme-primary);
  font-size: 1.5rem;
}

.footer-copyright-text {
  margin: 0;
}

.footer-links {
  display: flex;
}

.footer-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  flex-basis: 10rem;
}

@media (max-width: 58rem) {
  .footer {
    grid-template-columns: 1fr;
    gap: 1rem;
    text-align: center;
  }

  .footer-link {
    margin-bottom: 0.5rem;
  }
}
