.container {
  max-width: 1280px;
  margin: 0 auto;
}

.description-table {
  th {
    width: clamp(128px, calc(25vw), 400px);
    vertical-align: top;
  }

  tr {
    border: none !important;
  }

  div {
    border: none !important;
  }

  .collapse {
    font-family: 'Futura';
    font-size: 1.5rem;
    font-weight: 600;

    span {
      line-height: 1.325;
    }
  }
}
