.search-input {
  button {
    color: var(--color-button-text) !important;
  }
}

@media (max-width: 758px) {
  .search-input {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
