html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  height: 100%;
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr 50px;
  min-height: 100%;
  align-items: center;
}
