.default-button {
  letter-spacing: 0.8px;
  display: block;
  overflow: hidden;
  border: none;
  background-color: var(--color-primary);
  color: var(--color-button-text);
  transition: background-color 0.8s, color 0.8s;

  > span {
    position: relative;
    z-index: 1;
  }
}

.default-button:disabled {
  background-color: var(--color-bg-container-disabled) !important;
  color: var(--color-button-disabled-text);
  cursor: not-allowed;
}

.default-button:disabled:active {
  color: var(--color-button-active-text) !important;
}

.default-button:hover {
  background-color: var(--color-button-background);
  color: var(--color-button-text) !important;
}

.default-button:disabled:hover {
  background-color: var(--color-bg-container-disabled) !important;
  color: var(--color-button-disabled-text) !important;
}
